.container-flexbox {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

/* Desktops*/
@media all and (min-width: 768px) {
  .item-col-3 { width: 30.05%; margin: 1.6%;}
}

/* Mobiles */
@media all and (max-width: 767px) {
  .item-col-3 { width: 100% }
  .container-block { padding: 11% 8% }
}
